# follow up  template after that write the code

## 1. Let's Now Import library of pandas and numpy

In [3]:
import pandas as pd
import numpy as np

## 2. Load The Data into a Pandas Frame , hint  use **pd.read_csv**

In [4]:
data = pd.read_csv('kc_house_data.csv')
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## 3. define x is the features of dataframe and y is label , hint use **df.iloc**

### 4.Drop (id,date) column from x(independent variables ),  hint use **drop()** function

In [5]:
 data.drop(['id','date'], axis=1,inplace=True)
    
x = data.iloc[:,:-1]
y = data['price']

## 5. Splitting the dataset into the Training set and Test set and put **random_state=2**

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test = train_test_split(x,y,test_size=0.25, random_state=2)

## 6. Fitting Linear Regression to the dataset and count regression.score

In [9]:
from sklearn.linear_model import LinearRegression

regr = LinearRegression()

regr.fit(X_train, y_train)

Y_pred = regr.predict(X_test)

regr.score(X_train,y_train)

1.0